label{
    display: block;
}

input[type='text'], input[type='email'], input[type='password']{
    border-radius: 7px;
    width: 100%;
    border: 1px solid #1f2533;
    height: 55px;
    padding: 0 15px;
    display: block;
    margin-bottom: 20px;
}

input[type='submit']{
    border: 0;
    width: 100%;
}

.button{
    background: #cacdd4;
    color: #fff;
    height: 50px;
    &.radius{
        border-radius: 50px;
    }
}

form{
    padding-bottom: 40px;
}